* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #005555;
    font-size: 40px;
    font-weight:900;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

/* BANNER - NAV BARs */

header {
    width: 100%;
    height: 700px;  /* Banner con gradiente*/
    background: linear-gradient(to right, #f8ff939e, #00555589), url(../img/img-banner.png);
    background-size:cover;
    position: relative;
}

nav{
    text-align: right;
    padding: 20px 20px 0 0;
}

nav > a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 60px;
    font-size: 25px;
}

nav > a:hover{
    color: #005555;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.textos-header h1{
    font-size: 80px;
    color:#fff;
    text-shadow: #414141 2px 5px;
    font-family: 'Pacifico', cursive;

}

.textos-header h2{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    font-weight: 300;
    color:#fff;
    text-shadow: #414141 2px 3px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* SOBRE NOSOTROS */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}


.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: black;
}

/* SERVICIOS */


.servicios{
    background: #f2f2f2;
}

.imagenes-servicios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-servc{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 5px;
}

.imagen-servc > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* Efecto en las imagenes*/
    transform: scale(0);
    background: #069a8ec5;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-servc:hover .hover-galeria{
    transform: scale(1);
}

/* OPINIONES DE CLIENTES */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #069A8E;
    display: flex;
    width: 50%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(24, 171, 149, 0.6);
    margin: 10px;
    padding: 20px;
}

.cards .card img{
    width: 95px;
    height: 95px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
    padding-left: 6px;
}

.rating {
    font-weight:bolder;
    font-size: 20px;
    letter-spacing: 10px;
}

/* SUCURSALES - GOOGLE MAPS*/

.sucursales{
    background: #eee28bbc;
    padding-bottom: 30px;
}


.sucursal-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sucursal-card{
    width: 28%;
    text-align: center;
}

.sucursal-card img{
    width: 40%;
}

.sucursal-card h3{
    margin: 10px 0;
}

.sucursal-card p{
    font-weight: 300;
    text-align: justify;
}

/*FORMULARIO DE REGISTRO*/

.formulario-registro{
    background-color: #d4cecec6;
    font-family: 'Nunito', sans-serif;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    margin: 2px;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background-color: white;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #069A8E;
    outline: none;
    box-shadow: 2px 0px 10px #9e9797;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background-color: rgb(217, 63, 63);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: #069A8E;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  .1s ease all;

}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px  #9e9797;

}

.formulario__mensaje-exito {
    font-size: 25px;
    color: #0f8dbf;
    display: none;
    margin: 20px;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ESTILOS DE VALIDACION */

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



/* FOOTER */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-footer{
    text-align: center;
}

.content-footer h4{
    color: #fff;
    border-bottom: 3px solid #F7FF93;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-footer p{
    color: #ccc;
}

.pie-pagina{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/* RESPONSIVE */

@media screen and (max-width:800px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
        font-size: 20px;
        
    }


    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Imagenes */

    .imagen-servc{
        width: 44%;
    }

    /* Cards clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* Sucursales */

    .sucursal-cont{
        justify-content: center;
        flex-direction: column;
    }

    .sucursal-card{
        width: 100%;
        text-align: center;
    }

    .sucursal-card:nth-child(1), .sucursal-card:nth-child(2){
        margin-bottom: 60px;
    }

    .sucursal-card img{
        width: 90%;
    }

    .sucursal-card p {
        text-align: center;
    }

    /*Formulario*/ 
    
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}

@media screen and (max-width:500px){
   nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
        font-size: 19px;
   
    }

    .textos-header h1{
        font-size: 80px;
    }

    .textos-header h2{
        font-size: 28px;
    }

    /* Sobre nosotros */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Imagenes  */

    .imagen-servc{
        width: 95%;
    }

    /* Cards clientess */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .cards .card img{
        width: 150px;
        height: 150px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-footer{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-footer h4{
        border: none;
    }

    .content-footer p{
        color: #ccc;
        border-bottom: 1px solid #20dbd8;
        padding-bottom: 20px;
    }

    .pie-pagina{
        font-size: 20px;
    }
}
